body {
	background-color: #eeeeee;
	background-image: url(pa_timer_gradient_bckrnd.jpg);
	font-family: Arial;	
}

a {
	text-decoration: none;
}

/* divs */

#header {
	margin: 20px;
}

#main {
	margin: 50px;
}

#solve_table {
	display: inline;
}

#submit_times_container {
	padding: 0px 50px 50px 200px;
	display: inline;
	/* margin: auto; */
}

/* end of divs */

#header span {
	font-size: 14px;
	font-family: Futura, Arial;
	padding: 5px 20px;
	color: #bbbbbb;
}

#header span:hover {
	color: black;
}

#solve_submission_form {
	display: inline;
}

#display_solve_times {
	display: block;
	float: left;
}

#display_solve_times tbody {
	display: block;
	height: 400px;	
	overflow-y: scroll;
}


#display_solve_times, #display_solve_times td {
	background-color: #eeffff;
	border: 1px solid green;
	border-collapse: collapse; /* makes all borders overlap */
	margin: 5px;
}

#display_solve_times td {
	padding: 5px 10px;
}
