* {
	box-sizing: border-box;
}

body {
	background-color: #eeeeee;
	/* use absolute url with background-image */
	background-image: url('http://localhost/cubing_sessions/application/stylesheets/pa_timer_gradient_bckrnd.jpg');
	margin: 0;
	font-family: 'Aller', sans-serif;
	color: #efefef;
}

a {
	text-decoration: none;
}


button {
    display: inline-block;
    border: none;
	border-radius: 5px;
    margin: 0;
    cursor: pointer;
    background: #47a17c;
    font-family: 'Aller', sans-serif;
	color: #ffffff;
    /*
    padding: 1rem 2rem;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    */
}
/*
button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
*/

/* divs */

#header {
	margin: 20px;
	font-weight: 700px;
}

#timer, #stats_menu {
	margin: 50px;
}

/* Used for any overlays like the settings tab */

.overlay_background {
	display: none;
	z-index: 20;
	position: absolute;
	/* Note to self - top and left only hold int val 0 */
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(100,100,100,0.6); /* dark teal */
}

/* settings screen */
.overlay_screen {
	display: none;
	z-index: 21;
	position: absolute;
	top: 20%; 
	left: 20%;
	height: 60%;
	width: 60%;
	background-color: #0c5e55; /* dark teal */
	text-align: center;
}

#solve_table {
	display: inline;
}

#timer_main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#scramble_display, #submit_times_container {
	padding-block: 50px;
	display: inline;
	font-size: 30px;
	text-align: center;
	/* margin: auto; */
}

#scramble_display {
	display: block;
	max-width: 1000px;
}

/* end of divs */

.menu_actions {
	font-size: 14px;
	/* font-family: Futura, Arial; */
	padding: 5px 20px;
	color: #cccccc;
}

.menu_actions:hover {
	color: #efefef;
}

#header button {
	background: none;
}

#display_settings_screen button {
	margin: 5px;
	padding: 5px 10px;
} 

#display_settings_screen button:hover {
	background-color: #0b8f80;
} 

#site_title {
	font-size: 20px;
	color: #efefef;
}

#solve_submission_form {
	display: inline;
}

#solve_time {
	font-size: 80px;
}

#display_avgs {
	margin: 10px 400px;
}

/* see https://stackoverflow.com/questions/10933837/line-break-like-br-using-only-css */
/* 
Line break only using css, don't have to deal with <br> tag
	\a = line break
	'white-space: pre' = preformmated, treat char as line break in rendering
*/

#display_avgs span:after {
    content:"\a";
    white-space: pre;
}

#display_solve_times {
	display: block;
	float: left;
	box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

#show_sessions_cont {
	margin: 20px auto;
	width: 800px;
}

#show_sessions_table {
	background-color: #13766a; /* same color as settings screen */
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

#show_sessions_table tbody {
	/* display: block; */
	width: 800px;
    flex: 0 0 auto;
    display: flex;
    flex: column;
    overflow-x: auto;
	scrollbar-width: none;
}

#show_sessions_table tbody::-webkit-scrollbar,
#display_solve_times tbody::-webkit-scrollbar {
    display: none;
}

#display_solve_times thead td {
	border: none;
	text-align: center;
	border-radius: 10px;
}

#submit_puzzle_button {
	margin-inline: 10px;
	width: 100px;
}

#display_solve_times tbody {
	display: block;
	height: 400px;
	font-size: 14px;
	overflow-y: scroll;
	border-radius: 0px 0px 10px 10px;
}

#display_solve_times, #display_solve_times td {
	background-color: #77dddd;
	border: 1px solid green;
	border-collapse: collapse; /* makes all borders overlap */
	margin: 5px;
	color: #555555;
}

#display_solve_times td, #show_sessions_table td {
	padding: 5px 10px;
}

#show_sessions_table td {
	min-width: 150px;
	border-radius: 10px;
}

#show_sessions_table td:hover {
    cursor: pointer;
	background-color: #0c5e55;
}

.session_selected {
	background-color: #0c5e55;
}

#session_stats_wrapper {
	/* for now, as I only have these statistics */
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 200px;
	padding: 15px;
	background-color: #0c5e55;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

#session_stats_desc {
	font-size: 20px;
	font-weight: 600;
	color: #19897c;
}